---
interface Props {
  text: string
  style: 'filled' | 'outline'
  className?: string
}

const { text, style, className }: Props = Astro.props
---

<button
  class={className}
  class:list={{
    'rounded-full font-semibold flex items-center justify-center text-nowrap': true,
    'px-6 py-2': true,
    'text-[#f2f2f2] bg-theme-dark': style === 'filled',
    'border-theme-dark-grey text-theme-dark border bg-transparent py-4 px-4': style === 'outline',
  }}
>
  {text}
</button>
