---
import Container from './Container.astro'
import Logo from '../assets/logo.svg'
---

<footer id='footer' class='bg-theme-dark text-theme-light-grey/80 mt-32 py-28'>
  <Container className='flex flex-wrap items-start justify-between gap-16'>
    <div>
      <div class='logo'>
        <Logo />
      </div>
      <p class='my-3 max-w-[200px]'>Whatever you want to ask, our chat has the answers</p>

      <div
        class='[&>a]:hover:text-theme-dark [&>a>svg]:hover:fill-theme-light-green mt-16 flex justify-start gap-4'
      >
        <a href='#'>
          <svg
            width='33'
            height='32'
            viewBox='0 0 33 32'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <rect x='1' y='0.5' width='31' height='31' rx='15.5' stroke='currentColor'></rect>
            <path
              d='M22.884 12.032C22.404 12.24 21.908 12.384 21.38 12.448C21.924 12.128 22.34 11.616 22.532 10.992C22.02 11.296 21.46 11.504 20.868 11.632C20.388 11.12 19.7 10.8 18.948 10.8C17.492 10.8 16.324 11.984 16.324 13.424C16.324 13.632 16.34 13.824 16.388 14.016C14.212 13.92 12.292 12.864 10.996 11.28C10.068 12.944 11.108 14.32 11.796 14.784C11.38 14.784 10.964 14.656 10.612 14.464C10.612 15.76 11.524 16.832 12.708 17.072C12.452 17.152 11.876 17.2 11.524 17.12C11.86 18.16 12.836 18.928 13.972 18.944C13.076 19.648 11.764 20.208 10.084 20.032C11.252 20.784 12.628 21.216 14.116 21.216C18.948 21.216 21.572 17.216 21.572 13.76C21.572 13.648 21.572 13.536 21.556 13.424C22.1 13.024 22.548 12.56 22.884 12.032Z'
              fill='currentColor'></path>
          </svg>
        </a>

        <a href='#'>
          <svg
            width='33'
            height='32'
            viewBox='0 0 33 32'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <rect x='1' y='0.5' width='31' height='31' rx='15.5' stroke='currentColor'></rect>
            <path
              d='M14.964 16.832C14.916 16.832 13.86 16.832 13.38 16.832C13.124 16.832 13.044 16.736 13.044 16.496C13.044 15.856 13.044 15.2 13.044 14.56C13.044 14.304 13.14 14.224 13.38 14.224H14.964C14.964 14.176 14.964 13.248 14.964 12.816C14.964 12.176 15.076 11.568 15.396 11.008C15.732 10.432 16.212 10.048 16.82 9.82397C17.22 9.67997 17.62 9.61597 18.052 9.61597H19.62C19.844 9.61597 19.94 9.71197 19.94 9.93597V11.76C19.94 11.984 19.844 12.08 19.62 12.08C19.188 12.08 18.756 12.08 18.324 12.096C17.892 12.096 17.668 12.304 17.668 12.752C17.652 13.232 17.668 13.696 17.668 14.192H19.524C19.78 14.192 19.876 14.288 19.876 14.544V16.48C19.876 16.736 19.796 16.816 19.524 16.816C18.948 16.816 17.716 16.816 17.668 16.816V22.032C17.668 22.304 17.588 22.4 17.3 22.4C16.628 22.4 15.972 22.4 15.3 22.4C15.06 22.4 14.964 22.304 14.964 22.064C14.964 20.384 14.964 16.88 14.964 16.832Z'
              fill='currentColor'></path>
          </svg>
        </a>
        <a href='#'>
          <svg
            width='33'
            height='32'
            viewBox='0 0 33 32'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <rect x='1' y='0.5' width='31' height='31' rx='15.5' stroke='currentColor'></rect>
            <path
              d='M22.9 22.4002V17.7122C22.9 15.4082 22.404 13.6482 19.716 13.6482C18.42 13.6482 17.556 14.3522 17.204 15.0242H17.172V13.8562H14.628V22.4002H17.284V18.1602C17.284 17.0402 17.492 15.9682 18.868 15.9682C20.228 15.9682 20.244 17.2322 20.244 18.2242V22.3842H22.9V22.4002Z'
              fill='currentColor'></path>
            <path d='M10.308 13.8562H12.964V22.4002H10.308V13.8562Z' fill='currentColor'></path>
            <path
              d='M11.636 9.6001C10.788 9.6001 10.1 10.2881 10.1 11.1361C10.1 11.9841 10.788 12.6881 11.636 12.6881C12.484 12.6881 13.172 11.9841 13.172 11.1361C13.172 10.2881 12.484 9.6001 11.636 9.6001Z'
              fill='currentColor'></path>
          </svg>
        </a>
      </div>
    </div>

    <nav class='flex flex-wrap items-start justify-between gap-12 text-wrap leading-tight'>
      <div class='shrink grow basis-[120px]'>
        <h3 class='mb-6 text-xl font-semibold'>Support</h3>
        <ul class='[&>li]:hover:text-theme-light-green flex flex-col gap-5 [&>li]:cursor-pointer'>
          <li class='footer__list-item'>Weekly Demos</li>
          <li class='footer__list-item'>Contact Us</li>
          <li class='footer__list-item'>Report a Bug</li>
          <li class='footer__list-item'>Request a New Feature</li>
        </ul>
      </div>
      <div class='shrink grow basis-[120px]'>
        <h3 class='mb-6 text-xl font-semibold'>About</h3>
        <ul class='[&>li]:hover:text-theme-light-green flex flex-col gap-5 [&>li]:cursor-pointer'>
          <li class='footer__list-item'>Donate</li>
          <li class='footer__list-item'>Careers</li>
          <li class='footer__list-item'>Blog</li>
          <li class='footer__list-item'>Privacy Policy</li>
        </ul>
      </div>
      <div class='shrink grow basis-[120px]'>
        <h3 class='mb-6 text-xl font-semibold'>Help</h3>
        <ul class='[&>li]:hover:text-theme-light-green flex flex-col gap-5 [&>li]:cursor-pointer'>
          <li class='footer__list-item'>Help Center</li>
          <li class='footer__list-item'>Information</li>
          <li class='footer__list-item'>Comunity</li>
          <li class='footer__list-item'>Creator Programme</li>
        </ul>
      </div>
      <div class='shrink grow basis-[120px]'>
        <h3 class='mb-6 text-xl font-semibold'>Product</h3>
        <ul class='[&>li]:hover:text-theme-light-green flex flex-col gap-5 [&>li]:cursor-pointer'>
          <li class='footer__list-item'>Chat by EcoScrop</li>
          <li class='footer__list-item'>Reviews</li>
          <li class='footer__list-item'>EcoScrop</li>
          <li class='footer__list-item'>Pricing</li>
        </ul>
      </div>
    </nav>
  </Container>

  <Container>
    <hr class='border-theme-light-grey/40 mb-8 mt-12 border outline-none' />
    <p class='text-theme-light-grey/70 text-center'>
      2025 All rights reserved. Made with <span class='text-theme-light-green'>♥</span>
      by <a href='https://github.com/yanguadotdev' target="_blank" class="decoration-1 hover:text-theme-light-green hover:decoration-theme-light-green underline decoration-wavy" rel="nooppener norefferer">samir</a>
    </p></Container>
</footer>
