---
import Button from './Button.astro'
import Container from './Container.astro'
import Sun from '../assets/sun.svg'
import CircleIcon from './CircleIcon.astro'
---

<section id='hero'>
  <Container className='overflow-hidden py-16'>
    <div class='relative mx-auto max-w-[880px] text-center'>
      <h1 class='mb-4 text-[clamp(2rem,10vw,4rem)] font-bold leading-none'>
        Efficient <span class='bg-theme-light-green rounded-full px-4 py-2'>Scrap</span> Recycling Services
        Near You
      </h1>

      <p class='mx-auto mb-12 max-w-[800px] leading-normal'>
        Discover efficient scrap recycling services right in your neighborhood! We're dedicated to
        providing convenient and reliable scrap recycling solutions to businesses and individuals
        alike. Whether you have metal, paper, plastic, or electronics to recycle, our experienced
        team is here to help.
      </p>

      <div class='group mx-auto flex w-max items-center justify-center'>
        <Button text='Get Started' style='outline' className='max-h-[52px] pr-8' />
        <CircleIcon classname='text-white'/>
      </div>

      <!-- images absolutas -->
      <img
        class='absolute -bottom-10 left-0 hidden -translate-x-[60%] sm:block'
        src='/hero/hero-img-left.webp'
        alt=''
      />
      <img
        class='right absolute -bottom-10 left-auto right-0 hidden translate-x-[60%] sm:block'
        src='/hero/hero-img-right.webp'
        alt=''
      />
      <img
        aria-hidden='true'
        class='pointer-events-none absolute -bottom-10 left-auto right-0 hidden w-[100px] -translate-x-full translate-y-[30%] sm:block md:w-auto'
        src='/hero/line.svg'
        alt=''
      />
    </div>

    <div class='mt-12 flex items-center justify-center gap-4'>
      <img class='hidden sm:block' src='/hero/photos/img1.webp' alt='' />
      <img src='/hero/photos/img2.webp' alt='' />
      <img src='/hero/photos/img3.webp' alt='' />
      <img src='/hero/photos/img4.webp' alt='' />
      <img class='hidden sm:block' src='/hero/photos/img5.webp' alt='' />
    </div>
  </Container>

  <section class='bg-theme-dark-green overflow-hidden text-nowrap py-2 text-white' id='sliderHero'>
    <div
      class='inline-flex items-center justify-start [&>span]:inline-block [&>svg]:mx-6'
      id='sliderHeroContent'
    >
      <Sun />
      <span>Eco-friendly the planet</span>
      <Sun />
      <span>Conserve the planet</span>
      <Sun />
      <span>Save the planet</span>
      <Sun />
      <span>Environmentally-friendly the planet</span>
      <Sun />
      <span>Green the planet</span>
      <Sun />
      <span>Eco-friendly the planet</span>
      <Sun />
      <span>Conserve the planet</span>
    </div>
  </section>
</section>

<style>
  #sliderHeroContent.scrolling {
    animation: scrolling 20s linear infinite;
  }

  @keyframes scrolling {
    to {
      transform: translateX(-100%);
    }
  }
</style>

<script>
  import { $ } from '../lib/dom-selector'

  document.addEventListener('DOMContentLoaded', () => {
    // INFINITE SLIDER
    const slider = $('#sliderHero') as HTMLElement
    const sliderTrack = $('#sliderHeroContent') as HTMLElement
    sliderTrack.classList.add('scrolling')
    const cloneTrack = sliderTrack.cloneNode(true)
    slider.appendChild(cloneTrack)
  })
</script>
