---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Eco Scrap | Efficient Scrap Recycling Services Near You</title>

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Outfit:wght@300..900&display=swap'
      rel='stylesheet'
    />

    <!-- ADDITIONAL META TAGS -->
    <meta
      name='description'
      content="Discover efficient scrap recycling services right in your neighborhood! We're dedicated to providing convenient and reliable recycling solutions for metal, paper, plastic, and electronics."
    />

    <meta property='og:url' content='https://eco-scrap-umber.vercel.app/' />
    <meta property='og:type' content='website' />
    <meta property='og:title' content='Efficient Scrap Recycling Services Near You' />
    <meta
      property='og:description'
      content='Eco Scrap offers convenient and reliable recycling solutions for metal, paper, plastic, and electronics in your neighborhood.'
    />
    <meta property='og:image' content='https://eco-scrap-umber.vercel.app/og.jpg' />
    <meta property='og:locale' content='en_US' />
    <meta property='og:site_name' content='Eco Scrap' />

    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content='Efficient Scrap Recycling Services Near You' />
    <meta
      name='twitter:description'
      content='Eco Scrap offers convenient and reliable recycling solutions for metal, paper, plastic, and electronics in your neighborhood.'
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    background-color: #fff;
  }
</style>
